# DataSpell project configuration
.idea/*

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# everithing inside any data folder
**/data/**

# exclude everything inside any models folder
**/models/**

# temporary excludes
**/models_histogram/**
**/models_overlap/**

